<ul class="alert alert-danger" *ngIf="errores?.length > 0">
  <li *ngFor="let err of errores">
    {{ err }}
  </li>
</ul>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
   
      <div class="card bg-light border-primary my-2">
        <div class="card-header border-primary">{{ titulo }}</div>
        <div class="card-body">
          <h4 class="card-title">
            <a [routerLink]="['/clientes']" class="btn btn-outline-danger btn-xs">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Volver
            </a>
        </h4>

            <form #clienteForm="ngForm">

            <div class="mb-3 offset-sm-3">
              <label for="nombre" class="form-label">Nombre</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" 
                  #nombre="ngModel" placeholder="Nombre del Cliente"> 
                <!-- required minlength="4" [ngClass]="{'is-invalid' : nombre.invalid && ((nombre.dirty || nombre.touched))}" -->
                <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                  <div *ngIf="nombre.errors.required">
                    Nombre es requerido
                  </div>
                  <div *ngIf="nombre.errors.minlength">
                    Nombre debe tener al menos 4 caracteres
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 offset-sm-3">
              <label for="apellido" class="col-form-label col-sm 2">Apellido</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" 
                  #apellido="ngModel" placeholder="Apellido del Cliente">
                  <!-- required [ngClass]="{'is-invalid' : apellido.invalid && ((apellido.dirty || apellido.touched))}" -->
                <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                  <div *ngIf="apellido.errors.required">
                    Apellido es Requerido
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 offset-sm-3">
              <label for="email" class="col-form-label col-sm 2">Email</label>
              <div class="col-sm-8">
                <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email"  
                #email="ngModel" placeholder="ejemplo@ejemplo.ej">
                  <!-- required email pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  [ngClass]="{'is-invalid' : email.invalid && ((email.dirty || email.touched))}" -->
                <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required">
                    Email es Requerido
                  </div>
                  <div *ngIf="email.invalid">
                    Email debe tener un formato válido
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3 offset-sm-3">
              <label for="region" class="col-form-label col-sm 2">Región</label>
              <div class="col-sm-8">
                <div class="d-flex">
                  <select [compareWith]="compareRegion" class="form-select" [(ngModel)]="cliente.region" 
                  name="region">
                      <option [ngValue]="undefined">&lt;Seleccionar Región&gt;</option>
                      <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                  </select>
                </div>                        
              </div>
            </div>

            <div class="mb-3 offset-sm-3">
              <label for="createAt" class="col-form-label col-sm 2">Fecha de registro</label>
              <div class="col-sm-8">
                <div class="d-flex">
                  <input matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt"
                  placeholder="dd/mm/yyyy">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </div>                        
              </div>
            </div>

            <div class="mb-3 text-center my-2 offset-sm-3">
              <div class="col-sm-8">
                <button class="btn btn-primary col-sm-8" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock"
                  [disabled]="!clienteForm.form.valid">Crear</button>
                <ng-template #elseBlock>
                  <button class="btn btn-primary col-sm-8" role="button" (click)='update()'
                    [disabled]="!clienteForm.form.valid">Editar</button>
                </ng-template>
              </div>
            </div>
      
            </form>
          
        </div>
      </div>


    </div>
  </div>
</div>